*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}


/* ----------------------------------------
    styles for first-section 
    -----------------------------------------*/

/* styles specially for navigation bar */

.first-section{
    background-color: #FF900E1A;
}

.first-section header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}
.first-section header h2{
    margin-left: 218px;
}
.first-section header nav{
    margin-right: 240px;
}

.navbar ul{
    display: flex;
    gap: 30px;
}
.navbar ul li{
    list-style-type: none;
}

/* styles specially for banner */

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-description{
    margin-top: 116px;
    width: 860px;

}
.banner-heading{
    font-size: 64px;
    font-weight: 700px;
    text-align: center;
    line-height: 75px;
}
.banner-details{
    font-size: 16px;
    color: #727272;
    text-align: center;
    line-height: 26px;
}
.button{
    background-color: #FF900E;
    color: #ffffff;
    padding: 23px;
    display: inline-block;
    border-radius: 5px;
}
.banner-button{
    margin-top: 32px;
    margin-left:360px ;
  
}

.banner-image img{
    margin-top: 50px;
    height: 475px;
    width: 970px;
    margin-bottom: 70px;
}


/* -------------------------------------
         styles for feature-1 section
    ------------------------------------- */
.feature-1{
    margin-top: 60px;
    margin-left: 260px;
    display: flex;
    align-items: center;
    margin-bottom: 130px;

}
.feature-1 .images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.feature-1 .images img{
    width: 200px;
    height: 200px;
}
.feature-1-details{
    margin-left: 48px;
    margin-right: 265px;
}



.feature-1-heading{
    font-size: 45px;
    font-weight: 500;
    line-height: 52px;
    margin-bottom: 24px;
    color: #727272;
}
.feature-1-heading .black{
    color: black;
}
.feature-1-heading .orange{
    color: #FF900E;
}

.feature-1-description{
        font-size: 16px;
        line-height: 25px;
        color: #727272;
        margin-bottom: 32px;
}


/* -------------------------------------
        styles for extra-feature section
    -------------------------------------- --*/

    .extra-feature {
        display: flex;
    }

    .extra-feature-heading{
        font-size: 45px;
        font-weight: 700;
        line-height: 52px;
        border-left: 5px solid #FF900E;
        padding-left: 20px;
    }
    .extra-feature-details{
        margin-left: 160px;
        margin-right: 55px;
    }
    .extra-feature-hading-description{
        margin-bottom: 30px;
    }
    .extra-feature-hading-description h2{
        margin-bottom: 24px;
    }
    .more-info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .extra-feature-description{
        font-size: 16px;
        line-height: 26px;
        color: #727272;
       
    }


    .more-info article h4{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .more-info article p{
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }

  
    .extra-feature-image img{
        width: 480px;
        margin-right: 260px;
    }

    /* stylas for big-button */

    .big-button{
        margin-left: 565px;
        position: relative;
        top: -333px;
    }

    .big-button span{
        font-size: 65px;
        font-weight: 700;
    }

    /* ---------------------------------
            styles for facts
         ----------------------------------*/
    .facts{
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;
       
    }
    .facts-details{
        margin-left: 125px;
    }
    .facts-description{
        font-size: 16px;
        font-weight: 400;
        color: #727272;
        margin-right: 655px;
    }
    .facts-heading{
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .fact-items{
        margin-top: 100px;
        display: flex;
        gap: 165px;
        justify-content: center;
        gap: 70px;
        
    }
    .fact-item{
        display: grid;
        justify-items: center;
        border: 1px solid red;
        border-radius: 5px;
        padding-top:40px ;
        padding-bottom: 50px;
        padding-left: 30px;
        padding-right: 30px;
        transition: transform 1s,background-color,1s;
    }

    .fact-item:hover{
        transform: scale(1.3);
        background-color: rgba(245, 189, 189, 0.623);
    }

    .fact-item img{
        margin-bottom: 10px;

    }
    .fact-item h5{
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .fact-item p{
        color: #727272;
    }
    
    /* ----------------------------------------
              styles for our-design
        --------------------------------------- */

    .our-design{
        display: flex;
        flex-direction: column;
    }
    .our-design h3{
        font-size: 50px;
        text-align: center;
        margin-bottom: 50px;

    }
    .our-design-images{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 10px;
        justify-items: center;
    }

    .our-design-images img{
        width: 90%;
        border-radius: 5px;
        transition: transform 1s;
    }
    .our-design-images img:hover{
        transform: scale(1.1);
    }
   
    .our-design-button{
        margin-top: 20px;
        margin-left: 88%;
    }
    .our-design-button-inside{
        width: 140px;

    }
    /* ---------------------------------------
            sponsers style 
        --------------------------------------*/

.our-sponsers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.our-sponsers .description h3{
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    margin-bottom: 20px;

}
.our-sponsers .description p{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
    text-align: center;
    margin-bottom: 50px;
}

.sponsers-logo{
    display: flex;
    gap: 60px;
    margin-bottom: 130px;
}

/* --------- copy right style------------- */

.copy-right{
    width: 80%;
    height: 50px;
    margin:  0 auto;
    background-color: #FFF4E7;
    border-radius: 5px;
    padding-top: 20px;
    margin-bottom: 100px;

}
.copy-right p{
    text-align: center;
    color: #727272;
}




/* ------------------------------------
    responsive design by media query
    ----------------------------------  */


@media screen and (max-width: 576px) {
    .first-section header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 25px;
    }
    .first-section header h2{
       margin: 10px auto;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 5px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .banner-description{
        width: 90%;
    
    }
    .banner-heading{
     text-align: left;
     padding-left: 10px;
    }
    .banner-details{
        text-align: left;
        padding-left: 10px;  
    }
    .banner-button{
       
        margin-left:10px;
    }

    .banner-image img{
       
        height: 90%;
        width: 90%;
        margin-left: 10px;
    }
  
    /* styles for feature-1 */

    .feature-1{
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .feature-1 .images{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
        margin-bottom: 20px;
    }
    .feature-1 .images img{
      width: 100%;
      height:100% ;
    }
    .feature-1-heading{
       margin-right: 5px;
    }
    .feature-1-details{
        margin-left: 5px;
        margin-right: 0px;
    }

    /* styles for extra feature */

    .extra-feature {
        display: flex;
        flex-direction: column;
    }
    .extra-feature-details{
        margin-left: 5px;
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .extra-feature-image img{
        width: 95%;
        margin-right: 0px;
    }

    .big-button{
        margin-left: 5px;
        position: relative;
        top: 5px;
        margin-bottom: 20px;
    }

    .more-info article p{
       margin-right: 10px;
    }

    /* styles for facts */

    .facts{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .facts-details{
        margin-left: 5px;
    }

    .facts-description{
        font-size: 16px;
        font-weight: 400;
        color: #727272;
        margin-right: 0px;
    }
    .fact-items{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;  
    }
    .fact-item{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .our-design-images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 10px;
        column-gap: 5px;
    }
    .our-design-button{
        margin-top: 20px;
        margin-left: 10px;
    }
    .our-design-button-inside{
        width: 140px;
    }

    /* sponsers styles */

    .our-sponsers{
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        justify-content: center;
        align-items: center;
    }
    .our-sponsers .description h3{
        text-align: left;
        margin-left: 10px;
    }
    .our-sponsers .description p{
        margin-left: 10px;
        text-align: left;
        margin-bottom: 50px;
    }
    .sponsers-logo{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 100px;
        justify-items: center;
    }

}